<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-10 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Actualizando cada 10 seg</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
    </div>
</div>
